# GENERAL
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX
BACKEND_URL=http://localhost:8000
API_KEY=
FALLBACK_TOOL_COUNT=5000
DJANGO_ADMIN_URL=

# CREDENTIALS GOOGLE & GITHUB
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
AUTH_SECRET=


# EMAIL - CONTACT FORM - RESEND.COM
RESEND_API_KEY=
CONTACT_EMAIL=